.gallery-checkbox{
    height: 100px;
    width: 100px;
    display: block;
    border: 2px solid white;
}

.gallery-checkbox > input {
    display: none;
}

.image-checked-overlay{
    height: 100px;
    width: 100px;
    display: block;
    pointer-events: none;
    background: gray;
    opacity: 0.4;
}

input:checked + .image-checked-overlay{
    height: 100px;
    width: 100px;
    display: block;
    pointer-events: none;
    opacity: 0;
}

.news-gallery-image{
    display: flex;
    flex-wrap: wrap;
}

.chosen-container{
    width: 100%!important;
}